.box{
    height: 500px;
    display: grid;
    width: auto;
    background-color: rgb(233, 233, 127);
    grid-template-areas: "topo topo topo"
                         "ce cp cd"
                         "rod rod rod";
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 200px 1fr 200px;
}

.topo{
    display: grid;
    grid-template-areas: "p1 p2 p3 p4";
    grid-template-areas: 25px 25px 25px 25px;
    background-color: pink;
    font-size: 15px;
    grid-area: topo;
}

.topo > div{
    background-color: palevioletred;
    border: white 2px solid;
    text-align: center;
    font-size: 50px;
}

.ce{
    background-color: bisque;
    font-size: 15px;
    grid-area: ce;
}

.cp{
    background-color: rgb(229, 133, 15);
    font-size: 15px;
    grid-area: cp;
}

.cd{
    display: grid;
    grid-template-areas: "p5 p6"
                         "p7 p8"
                         "p9 p10"
                         "p11 p12";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    font-size: 15px;
    gap: 3px;
}


.cd .p5{
    background-color: rgb(160, 2, 55);
    grid-area: p5;
}

.cd .p6{
    background-color: rgb(160, 2, 55);
    grid-area: p6
}

.cd .p7{
    background-color: rgb(160, 2, 55);
    grid-area: p7;
}
.cd .p7 p{
    background-color: rgb(153, 218, 153);
}

.cd .p8{
    background-color: rgb(160, 2, 55);
    grid-area: p8;
}

.cd .p9{
    background-color: rgb(160, 2, 55);
   grid-area: p9;
}

.cd .p10{
    background-color: rgb(160, 2, 55);
    grid-area: p10;
}
.cd .p10 p{
    background-color: pink;
}

.cd .p11 {
    background-color: rgb(160, 2, 55);
    grid-area: p11;
}

.cd .p12{
    background-color: rgb(160, 2, 55);
    grid-area: p12;
}

.rod{
    background-color: rgb(88, 151, 210);
    font-size: 15px;
    grid-area: rod;
}